@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'DM Sans Regular';
    src: url('../../shared//assets/fonts/DM_Sans/DMSans-Regular.ttf');
    font-weight: 400;
  }
  @font-face {
    font-family: 'DM Sans Medium';
    src: url('../../shared//assets/fonts/DM_Sans/DMSans-Medium.ttf');
    font-weight: 500;
  }
  @font-face {
    font-family: 'DM Sans Bold';
    src: url('../../shared//assets/fonts/DM_Sans/DMSans-Bold.ttf');
    font-weight: 700;
  }
  @font-face {
    font-family: 'Allerta Stencil';
    src: url('../../shared//assets/fonts/Allerta_Stencil/AllertaStencil-Regular.ttf');
  }

  :root {
    --background: #ffffff;
    --white: #fff;
    --black: #000;
    --errors: #d82700;
    --accent: #a18a68;
    --gray: #d8d8d8;
    --light-gray: #efefef;
    --dark-gray: #707070;

    --font-family: 'DM Sans Regular', sans-serif;
    --second-family: 'Allerta Stencil', sans-serif;
  }

  .dark {
    --background: #ffffff;
    --white: #fbfbfb;
    --accent: #b4a186;
    --errors: #ca0c0c;
    --black: #0a0a0a;
    --gray: #3d3d3d;
    --light-gray: #999999;
    --dark-gray: #262626;
  }
}

@layer base {
  * {
    box-sizing: border-box;
    font-family: var(--font-family);
  }
}
